@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.embla__slide {
  transition: opacity 0.5s ease-in-out;
}

.embla__slide:not(.is-selected) {
  opacity: 0.7;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.blocks {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Anchor Tag */
article p a.anchorlinks {
  text-decoration: none;
}

article p a.anchorlinks {
  color: #fff700;
  position: relative;
  font-weight: 600;
}

article p a.anchorlinks::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff700;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

article p a.anchorlinks:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
/* - Anchor Tag */
